body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, #4b6cb7, #182848);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    transition: background 0.5s;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    max-width: 400px;
    width: 100%;
    margin: 20px;
    overflow-y: auto;
    max-height: 80vh;
  }
  
  .container:hover {
    transform: scale(1.05);
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin: 10px 0 5px;
  }
  
  input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  input:focus {
    border: 2px solid #4b6cb7;
    outline: none;
    box-shadow: 0 0 5px rgba(75, 108, 183, 0.5);
  }
  
  button {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    background: linear-gradient(90deg, #4b6cb7, #182848);
    color: #fff;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
  }
  
  button:hover {
    background: linear-gradient(90deg, #6a82fb, #fc5c7d);
    transform: scale(1.1);
  }
  
  button:active {
    transform: scale(0.95);
    transition: transform 0.1s ease-in-out;
  }
  
  #error-message {
    color: #ff6b6b;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
    display: none;
  }
  
  #change-due {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4b6cb7;
    transition: opacity 0.5s;
    opacity: 0;
  }
  
  #change-due.show {
    opacity: 1;
  }
  
  .image-container {
    margin: 10px 0;
  }
  
  .image-container img {
    max-width: 40%;
    border-radius: 10px;
    transition: transform 0.3s;
  }
  
  .image-container img:hover {
    transform: scale(1.1);
  }
  
  .footer {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    background: linear-gradient(90deg, #182848, #4b6cb7);
    font-size: 20px;
    position: sticky;
    bottom: 0;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .github-logo {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 5px;
    transition: transform 0.5s;
  }
  
  .github-logo:hover {
    transform: scale(1.2);
  }
  
  /* @media (max-width: 768px) {
    .container {
      max-width: 90%;
    }
  
    .image-container img {
      max-width: 100%;
    }
  
    button {
      width: 100%;
    }
  } */
  